<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Ping Pong Generator</title>
</head>
<body>
  <div class="container">
    <h1>Ping Pong Generator</h1>

  </div>
  <form class="center" action="/generate" method="post">
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="number">Enter number:</label>
        <input id="number" name="number" type="text" maxlength="3" required>
      </div>
    </div>
    </div>
    <button type="submit" class="btn-primary">Generate!</button>
  </form>
</body>
</html>
